<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="admin,dashboard" />
    <meta name="description" content="Crizal - Responsive Admin Dashboard Template" />

    <!-- title  -->
    <title>Crizal - Responsive Admin Dashboard Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png">
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

    <!-- common plugins -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="plugins/icomoon/style.css" />
    <link rel="stylesheet" href="plugins/uniform/css/default.css" />
    <link rel="stylesheet" href="plugins/switchery/switchery.min.css" />

    <!-- custom css -->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- custom css -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- PAGE CONTAINER
    ================================================== -->
    <div class="page-container">

        <!-- PAGE INNER
        ================================================== -->
        <div class="page-inner login-page">
            <div id="main-wrapper" class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 login-box">
                        <h4 class="login-title">Create an account</h4>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputFirstName">First name</label>
                                <input type="email" class="form-control" id="exampleInputFirstName">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLastName">Last name</label>
                                <input type="email" class="form-control" id="exampleInputLastName">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword">
                            </div>
                            <a href="index.html" class="btn btn-primary">Register</a>
                            <a href="login.html" class="btn btn-outline-primary">Login</a>
                            <br>
                            <a href="index.html" class="forgot-link">Forgot password?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="plugins/jquery/jquery-3.1.0.min.js"></script>

    <!-- bootstrap -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscroll -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- uniform -->
    <script src="plugins/uniform/js/jquery.uniform.standalone.js"></script>

    <!-- switchery -->
    <script src="plugins/switchery/switchery.min.js"></script>

    <!-- theme core scripts -->
    <script src="js/main.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- all js include end -->

</body>

</html>